<html>
<head>
    <style>
    body {
        margin:0;
        padding:0;
        font-family:Verdana, Tahoma, Arial, sans-serif;
        font-size:21px;
    }
    #container {
        width:700px;
        max-width:100%;
        padding-top:10px;
        margin-left:auto;
        margin-right:auto;
        border:0;
        border-spacing:0;
        font-size:21px;
    }
    .sub {
        font-size:14px;
        font-variant:small-caps;
        position:relative;
        top:-16px;
    }
    .stats {
        border-collapse:collapse;
        border-spacing:0;
        border:1px solid #ddd;
        font-size:18px;
        width:100%;
    }
    .stats tr {
        border-bottom:1px solid #ddd;
    }
    .stats tr.alt {
        background-color:#f2f2f2;
    }
    .stats tr:hover {
        cursor: default;
        /*background-color: #ddd;*/
    }
    .stats td {
        padding:14px 28px;
    }
    .stats td.number {
        font-family:"Lucida Console", Monaco, Courier, monospace;
        text-align:right;
    }
    .stats th {
        padding:12px 28px;
        color:#f7f9fd;
        background-color:#e69b19;
        text-align:left;
    }
    .stats .gun-type {
        text-align:center;
        border-style:solid;
        border-width:1px 2px;
        border-color:#909090 #fff;
        background-color:#a0a0a0;
        color:#f7f9fd;
        font-size:small;
        padding:6px;
    }
    .stats .gun-type p {
        margin:0;
    }
    </style>
</head>
<body>
    <div style="overflow-x:auto;"><table id="container"><tr><td>
        <div>
            <h2>Today's Mega Stats</h2>
            <p class="sub">Collated From <%= totalPlayers %> Players</p>
            <div style="overflow-x:auto;">
                <table class="stats">
                    <tr>
                        <th style="width:40%;">
                            <p>Statistic</p>
                        </th>
                        <th style="width:60%;text-align:right;">
                            <p>Change</p>
                        </th>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>Time (seconds)</p>
                        </td>
                        <td class="number">
                            <%= mega.time %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Kills</p>
                        </td>
                        <td class="number">
                            <%= mega.kills %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>Deaths</p>
                        </td>
                        <td class="number">
                            <%= mega.deaths %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Headshots</p>
                        </td>
                        <td class="number">
                            <%= mega.heads %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>Rounds Played</p>
                        </td>
                        <td class="number">
                            <%= mega.rounds %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Rounds Won</p>
                        </td>
                        <td class="number">
                            <%= mega.rwins %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>Matches Played</p>
                        </td>
                        <td class="number">
                            <%= mega.matches %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Matches Won</p>
                        </td>
                        <td class="number">
                            <%= mega.mwins %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>Pistol-Round Wins</p>
                        </td>
                        <td class="number">
                            <%= mega.pistolwin %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Shots Fired</p>
                        </td>
                        <td class="number">
                            <%= mega.shots %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>Shots Hit</p>
                        </td>
                        <td class="number">
                            <%= mega.hits %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Damage Dealt</p>
                        </td>
                        <td class="number">
                            <%= mega.damage %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>Bombs Planted</p>
                        </td>
                        <td class="number">
                            <%= mega.plants %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Bombs Defused</p>
                        </td>
                        <td class="number">
                            <%= mega.defuse %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>Hostages Rescued</p>
                        </td>
                        <td class="number">
                            <%= mega.hostage %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Money Earned</p>
                        </td>
                        <td class="number">
                            <%= mega.money %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>Contribution Score</p>
                        </td>
                        <td class="number">
                            <%= mega.contrib %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>MVPs Earned</p>
                        </td>
                        <td class="number">
                            <%= mega.mvps %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>Knife Kills</p>
                        </td>
                        <td class="number">
                            <%= mega.knife %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Grenade Kills</p>
                        </td>
                        <td class="number">
                            <%= mega.nades %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>Fire Kills</p>
                        </td>
                        <td class="number">
                            <%= mega.fires %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Weapons Donated</p>
                        </td>
                        <td class="number">
                            <%= mega.donation %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>Backfires</p>
                        </td>
                        <td class="number">
                            <%= mega.backfire %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Counter Snipes</p>
                        </td>
                        <td class="number">
                            <%= mega.csnipe %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>Dominations</p>
                        </td>
                        <td class="number">
                            <%= mega.doms %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Revenges</p>
                        </td>
                        <td class="number">
                            <%= mega.revs %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>Overkills</p>
                        </td>
                        <td class="number">
                            <%= mega.overkill %>
                        </td>
                    </tr>
                </table>
            </div>
            <br />
            <div style="overflow-x:auto;">
                <table class="stats">
                    <tr>
                        <th style="width:30%;">
                            <p>Weapon</p>
                        </th>
                        <th style="width:30%;text-align:right;">
                            <p>Shots</p>
                        </th>
                        <th style="width:20%;text-align:right;">
                            <p>Hits</p>
                        </th>
                        <th style="width:20%;text-align:right;">
                            <p>Kills</p>
                        </th>
                    </tr>
                    <tr>
                        <th class="gun-type" colspan="4">
                            <p>Pistols</p>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <p>Glock-18</p>
                        </td>
                        <td class="number">
                            <%= mega.g0s %>
                        </td>
                        <td class="number">
                            <%= mega.g0k %>
                        </td>
                        <td class="number">
                            <%= mega.g0h %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>USP-S &<br/>P2000</p>
                        </td>
                        <td class="number">
                            <%= mega.g2s %>
                        </td>
                        <td class="number">
                            <%= mega.g2h %>
                        </td>
                        <td class="number">
                            <%= mega.g2k %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Dual Berettas</p>
                        </td>
                        <td class="number">
                            <%= mega.g3s %>
                        </td>
                        <td class="number">
                            <%= mega.g3h %>
                        </td>
                        <td class="number">
                            <%= mega.g3k %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>P250</p>
                        </td>
                        <td class="number">
                            <%= mega.g4s %>
                        </td>
                        <td class="number">
                            <%= mega.g4h %>
                        </td>
                        <td class="number">
                            <%= mega.g4k %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Tec-9 &<br/>CZ75-Auto</p>
                        </td>
                        <td class="number">
                            <%= mega.g5s %>
                        </td>
                        <td class="number">
                            <%= mega.g5h %>
                        </td>
                        <td class="number">
                            <%= mega.g5k %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>Five Seven &<br/>CZ75-Auto</p>
                        </td>
                        <td class="number">
                            <%= mega.g6s %>
                        </td>
                        <td class="number">
                            <%= mega.g6h %>
                        </td>
                        <td class="number">
                            <%= mega.g6k %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Desert Eagle &<br/>R8 Revolver</p>
                        </td>
                        <td class="number">
                            <%= mega.g8s %>
                        </td>
                        <td class="number">
                            <%= mega.g8h %>
                        </td>
                        <td class="number">
                            <%= mega.g8k %>
                        </td>
                    </tr>
                    <tr>
                        <th class="gun-type" colspan="4">
                            <p>Rifles</p>
                        </th>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>Galil AR</p>
                        </td>
                        <td class="number">
                            <%= mega.g10s %>
                        </td>
                        <td class="number">
                            <%= mega.g10h %>
                        </td>
                        <td class="number">
                            <%= mega.g10k %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>FAMAS</p>
                        </td>
                        <td class="number">
                            <%= mega.g11s %>
                        </td>
                        <td class="number">
                            <%= mega.g11h %>
                        </td>
                        <td class="number">
                            <%= mega.g11k %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>AK-47</p>
                        </td>
                        <td class="number">
                            <%= mega.g12s %>
                        </td>
                        <td class="number">
                            <%= mega.g12h %>
                        </td>
                        <td class="number">
                            <%= mega.g12k %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>M4A1-S &<br/>M4A4</p>
                        </td>
                        <td class="number">
                            <%= mega.g14s %>
                        </td>
                        <td class="number">
                            <%= mega.g14h %>
                        </td>
                        <td class="number">
                            <%= mega.g14k %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>SG 553</p>
                        </td>
                        <td class="number">
                            <%= mega.g16s %>
                        </td>
                        <td class="number">
                            <%= mega.g16h %>
                        </td>
                        <td class="number">
                            <%= mega.g16k %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>AUG</p>
                        </td>
                        <td class="number">
                            <%= mega.g17s %>
                        </td>
                        <td class="number">
                            <%= mega.g17h %>
                        </td>
                        <td class="number">
                            <%= mega.g17k %>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>Weapon</p>
                        </th>
                        <th style="text-align:right;">
                            <p>Shots</p>
                        </th>
                        <th style="text-align:right;">
                            <p>Hits</p>
                        </th>
                        <th style="text-align:right;">
                            <p>Kills</p>
                        </th>
                    </tr>
                    <tr>
                        <th class="gun-type" colspan="4">
                            <p>Snipers</p>
                        </th>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>SSG 08</p>
                        </td>
                        <td class="number">
                            <%= mega.g15s %>
                        </td>
                        <td class="number">
                            <%= mega.g15h %>
                        </td>
                        <td class="number">
                            <%= mega.g15k %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>AWP</p>
                        </td>
                        <td class="number">
                            <%= mega.g18s %>
                        </td>
                        <td class="number">
                            <%= mega.g18h %>
                        </td>
                        <td class="number">
                            <%= mega.g18k %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>G3SG1</p>
                        </td>
                        <td class="number">
                            <%= mega.g19s %>
                        </td>
                        <td class="number">
                            <%= mega.g19h %>
                        </td>
                        <td class="number">
                            <%= mega.g19k %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>SCAR-20</p>
                        </td>
                        <td class="number">
                            <%= mega.g20s %>
                        </td>
                        <td class="number">
                            <%= mega.g20h %>
                        </td>
                        <td class="number">
                            <%= mega.g20k %>
                        </td>
                    </tr>
                    <tr>
                        <th class="gun-type" colspan="4">
                            <p>SMGs</p>
                        </th>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>MAC-10</p>
                        </td>
                        <td class="number">
                            <%= mega.g21s %>
                        </td>
                        <td class="number">
                            <%= mega.g21h %>
                        </td>
                        <td class="number">
                            <%= mega.g21k %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>MP9</p>
                        </td>
                        <td class="number">
                            <%= mega.g22s %>
                        </td>
                        <td class="number">
                            <%= mega.g22h %>
                        </td>
                        <td class="number">
                            <%= mega.g22k %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>MP7</p>
                        </td>
                        <td class="number">
                            <%= mega.g23s %>
                        </td>
                        <td class="number">
                            <%= mega.g23h %>
                        </td>
                        <td class="number">
                            <%= mega.g23k %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>UMP-45</p>
                        </td>
                        <td class="number">
                            <%= mega.g24s %>
                        </td>
                        <td class="number">
                            <%= mega.g24h %>
                        </td>
                        <td class="number">
                            <%= mega.g24k %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>P90</p>
                        </td>
                        <td class="number">
                            <%= mega.g25s %>
                        </td>
                        <td class="number">
                            <%= mega.g25h %>
                        </td>
                        <td class="number">
                            <%= mega.g25k %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>PP-Bizon</p>
                        </td>
                        <td class="number">
                            <%= mega.g26s %>
                        </td>
                        <td class="number">
                            <%= mega.g26h %>
                        </td>
                        <td class="number">
                            <%= mega.g26k %>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <p>Weapon</p>
                        </th>
                        <th style="text-align:right;">
                            <p>Shots</p>
                        </th>
                        <th style="text-align:right;">
                            <p>Hits</p>
                        </th>
                        <th style="text-align:right;">
                            <p>Kills</p>
                        </th>
                    </tr>
                    <tr>
                        <th class="gun-type" colspan="4">
                            <p>Heavy</p>
                        </th>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>Nova</p>
                        </td>
                        <td class="number">
                            <%= mega.g27s %>
                        </td>
                        <td class="number">
                            <%= mega.g27h %>
                        </td>
                        <td class="number">
                            <%= mega.g27k %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>XM1014</p>
                        </td>
                        <td class="number">
                            <%= mega.g28s %>
                        </td>
                        <td class="number">
                            <%= mega.g28h %>
                        </td>
                        <td class="number">
                            <%= mega.g28k %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>Sawed-Off</p>
                        </td>
                        <td class="number">
                            <%= mega.g29s %>
                        </td>
                        <td class="number">
                            <%= mega.g29h %>
                        </td>
                        <td class="number">
                            <%= mega.g29k %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>MAG-7</p>
                        </td>
                        <td class="number">
                            <%= mega.g30s %>
                        </td>
                        <td class="number">
                            <%= mega.g30h %>
                        </td>
                        <td class="number">
                            <%= mega.g30k %>
                        </td>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>M249</p>
                        </td>
                        <td class="number">
                            <%= mega.g31s %>
                        </td>
                        <td class="number">
                            <%= mega.g31h %>
                        </td>
                        <td class="number">
                            <%= mega.g31k %>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Negev</p>
                        </td>
                        <td class="number">
                            <%= mega.g32s %>
                        </td>
                        <td class="number">
                            <%= mega.g32h %>
                        </td>
                        <td class="number">
                            <%= mega.g32k %>
                        </td>
                    </tr>
                    <tr>
                        <th class="gun-type" colspan="4">
                            <p>Special</p>
                        </th>
                    </tr>
                    <tr class="alt">
                        <td>
                            <p>Zeus x27</p>
                        </td>
                        <td class="number">
                            <%= mega.g35s %>
                        </td>
                        <td class="number">
                            &mdash;
                        </td>
                        <td class="number">
                            <%= mega.g35k %>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </td></tr></table></div>
</body>
</html>
