<html>
<head>
    <style>
    body {
        margin:0;
        padding:0;
        font-family:Verdana, Tahoma, Arial, sans-serif;
        font-size:21px;
    }
    #container {
        width:100%;
        padding:15px;
        margin-left:auto;
        margin-right:auto;
        border:0;
        border-spacing:0;
        font-size:21px;
    }
    #stats {
        border:0;
        border-spacing:0;
        font-size:18px;
        width:100%;
    }
    #stats td {
        padding-right: 14px;
    }
    #stats td.number {
        font-family: "Lucida Console", Monaco, Courier, monospace;
    }
    </style>
</head>
<body>
    <table id="container"><tr><td>
        <div>
            <h2>Today's Stat Updates</h2>
            <p>Finished in <%= time %></p>
            <table id="stats">
                <tr>
                    <td class="number">
                        <%= info.total %>
                    </td>
                    <td>
                        <p>Total Players</p>
                    </td>
                </tr>
                <tr>
                    <td class="number">
                        <%= info.active %>
                    </td>
                    <td>
                        <p>Active Players</p>
                    </td>
                </tr>
                <tr>
                    <td class="number">
                        <%= info.skipped %>
                    </td>
                    <td>
                        <p>Players Skipped</p>
                    </td>
                </tr>
                <tr><td><p>&nbsp;</p></td></tr>
                <tr>
                    <td class="number">
                        <%= info.changes %>
                    </td>
                    <td>
                        <p>With Changes</p>
                    </td>
                </tr>
                <tr>
                    <td class="number">
                        <%= info.noChanges %>
                    </td>
                    <td>
                        <p>No changes</p>
                    </td>
                </tr>
                <tr>
                    <td class="number">
                        <%= info.updated + info.updatedNoChanges %>
                    </td>
                    <td>
                        <p>Updated</p>
                    </td>
                </tr>
                <tr><td><p>&nbsp;</p></td></tr>
                <tr>
                    <td class="number">
                        <%= info.failedRequests.length + info.badRequests.length + info.badStats.length + info.badUpdate.length %>
                    </td>
                    <td>
                        <p>Errors</p>
                    </td>
                </tr>
                <tr>
            </table>
        </div>
    </td></tr></table>
</body>
</html>
