<html>
<head>
    <style>
    body {
        margin:0;
        padding:0;
        font-family:Verdana, Tahoma, Arial, sans-serif;
        font-size:21px;
    }
    #container {
        width:720px;
        max-width:100%;
        margin-left:auto;
        margin-right:auto;
        border:0;
        border-spacing:0;
        font-size:21px;
    }
    #stats {
        border:0;
        border-spacing:0;
        font-size:18px;
        width:100%;
    }
    #stats td {
        padding-right: 14px;
    }
    #stats td.number {
        font-family: "Lucida Console", Monaco, Courier, monospace;
    }
    </style>
</head>
<body>
    <table id="container"><tr><td>
        <div>
            <h2>Today's Stat Updates</h2>
            <table id="stats">
                <tr>
                    <td class="number">
                        <%= time %>
                    </td>
                    <td>
                        <p>Total Job Time</p>
                    </td>
                </tr>
                <tr><td><p>&nbsp;</p></td></tr>
                <tr>
                    <td class="number">
                        <%= total %>
                    </td>
                    <td>
                        <p>Total Players in Database</p>
                    </td>
                </tr>
                <tr>
                    <td class="number">
                        <%= total - skipped %>
                    </td>
                    <td>
                        <p>Total Active Players</p>
                    </td>
                </tr>
                <tr>
                    <td class="number">
                        <%= changes %>
                    </td>
                    <td>
                        <p>Players With Updates</p>
                    </td>
                </tr>
                <tr><td><p>&nbsp;</p></td></tr>
                <tr>
                    <td class="number">
                        <%= checked %>
                    </td>
                    <td>
                        <p>Successful Checks</p>
                    </td>
                </tr>
                <tr>
                    <td class="number">
                        <%= failedCheck %>
                    </td>
                    <td>
                        <p>Failed Checks</p>
                    </td>
                </tr>
                <tr>
                    <td class="number">
                        <%= checkErrors %>
                    </td>
                    <td>
                        <p>Checks with Errors</p>
                    </td>
                </tr>
                <tr><td><p>&nbsp;</p></td></tr>
                <tr>
                    <td class="number">
                        <%= success %>
                    </td>
                    <td>
                        <p>Successful Updates</p>
                    </td>
                </tr>
                <tr>
                    <td class="number">
                        <%= failedInsert %>
                    </td>
                    <td>
                        <p>Failed Updates</p>
                    </td>
                </tr>
            </table>
        </div>
    </td></tr></table>
</body>
</html>
