<h2>You changed your email</h2>
<br>
<b>Skill Bot</b> here. Just wanted to remind you that you asked to change your email address to <b><%= newemail %></b>. If this was you, then please check your inbox at the new email address, you have <u>1 hour</u> to verify it. After that, we'll change your email back to this address. This is for security reasons.
<br>
<br>
If you <b>DID NOT REQUEST THIS CHANGE</b>, then please lightning snipe that link below to cancel the request, and revert your address back to this email. The link below will remain active for only 24 hours, regardless if the new email has been confirmed or not, and will invalidate the activation link sent to the new email.
<br>
<b>New Email:</b> <%= newemail %>
<br>
<b>CANCEL LINK:</b> <a href="http://csgo-skill.com/cancel?k=<%= key.value %>&t=<%= key.time %>" style="color:dodgerblue">http://csgo-skill.com/CANCEL?k=<%= key.value %>&t=<%= key.time %></a>
<br>
<br>
Again, only click the link if you DID NOT REQUEST THIS CHANGE! If you accidentally clicked it, don't worry, just try changing the email again. And please, read the message next time :)
<br>
<br>
<br>
GL HF,
<br>
Skill Bot
<% include parts/unsubscribe %>
